# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# my files
/src/assets/bbq.JPG
/src/assets/cap.jpg
/src/assets/downtown-close.jpg
/src/assets/downtown-far.jpg
/src/assets/grad.JPG
/src/assets/iot-diagram.PNG
/src/assets/locateme.PNG
/src/assets/nocap.jpg
/src/assets/poster.JPG
/src/assets/game-mochila.PNG

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
