.images {
    width: 100%;
    height: auto;
    background: rgb(70, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    /*padding-top: 0px;
    margin-top: 50px;*/
}

.img {
    border-radius: 10px;
    margin: 30px;
}

@media only screen and (max-width: 900px) {
    .images {
        text-align: center;
        flex-direction: column;
    }
}