.skills {
    width: 100%;
    height: 100vh;
    /*background: #458772;*/
    background: #1f473a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 50px;
    /*padding-top: 0px;
    margin-top: 50px;*/
}

.skillsTitle{
    color: #fff;
    font-size: 40px;
}

.skillsItem{
    width: 50%;
}

.skillsSubtitle {
    color: #e6e6e6;
    font-size: 28px;
}
  
.skillsList {
    color: #cfcfcf;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .skills {
        text-align: center;
    }
}