.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: transparent;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 1;
}

.links {
  width: 100%;
  display: flex;
  float: right;
  justify-content: flex-end;
}

.navButtons {
  border: none;
  font-size: 18px;
  color: white;
  padding: 5px 5px;
  width: 100px;
  margin: 10px;
  background-color: transparent;
  display: inline-block;
  text-transform: capitalize;
}

.navButtons:after {
  display:block;
  content:'';
  border-bottom: 2.5px solid yellow;
  transform: scaleX(0);
  transition: all ease-in-out .3s;
}

.navButtons:hover:after {
  transform: scaleX(1);
}

